.navBar {
  background: transparent !important;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}
.container {
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;

  align-items: center;
}
.collapse {
  position: fixed;
  width: 190px;
  height: 250px;
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  z-index: 1600;
}
.navbarBrand {
  display: inline-block;
  padding: 20px;

  margin-right: 16px;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 3px 9px rgba(0, 0, 0, 0.75);
}
.navbarBrand span {
  color: #01d28e;
  text-shadow: 5px 3px 9px rgba(0, 0, 0, 0.75);
  font-size: 30px;
}
