@import-normalize; /* bring in normalize.css styles */

:root {
  --GreyColor: rgba(18, 20, 23, 0.5);
  --BlueColor: #3470ff;
  --BlackColor: rgba(18, 20, 23, 1);
  --WhiteColor: #ffffff;
  --GreenColor: #01d28e;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
